#game-map {
    width: 100%;
    height: 100%;
    background-color: #0f172a; /* Deniz Rengi */
    z-index: 1;
}

/* Leaflet Override */
.leaflet-container { background: #0f172a !important; }
.leaflet-bar a {
    background-color: var(--bg-card) !important;
    color: var(--text-light) !important;
    border-color: var(--border) !important;
}
.leaflet-bar a:hover {
    background-color: var(--primary) !important;
    color: white !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--bg-card) !important;
    color: var(--text-light) !important;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4) !important;
}